body{
	margin:0;
}
			
header{
	background-color:#101010;
	font-family:courier,serif;	
}

header:hover{
	background-color:#ffffff;
	
}	

footer:hover{
	background-color:#ffffff;
	
}
		
header h1{ 
	margin:0;
	padding:16px;
	font-family:courier,serif;	

}
			
header h1 a{
	color:#ffffff;
	text-decoration:none;
}

header:hover h1 a{
	color:#000000;
	text-decoration:none;
}

			
header p{ 
	color:#ffffff;
	padding:0 0 8px 0;
	text-align:center;
}

header:hover p{ 
	color:#000000;
	padding:0 0 8px 0;
	text-align:center;
}

footer:hover p{ 
	color:#000000;
	padding:0 0 8px 0;
	text-align:center;
}
			
h1,h2,h3,h4{
	font-family:sans-serif;
}
			
blockquote{
	background-color:#ccc;
	padding:32px;
	border:3px solid #000000;
	font-family:courier,serif;	
	image-align:center;
}
			
blockquote em{
	color:#ff0000;	
}

nav{
	background-color:#ccc;	
	/*padding:16px 16px 16px 16px;*/
	margin: 8px 8px 8px 8px;
	border:3px solid #000000;
	font-family:courier,serif;
}

nav ul{
	/*justify-content:center; CENTRAR EN PMEDIO DE LA PANTALLA*/
	/*justify-content:space-around; ocupa todo el espacio equitativamente*/
	
	display:flex;
	flex-direction:row;
	
	
	margin: 0;
	list-style:none; /* CAMBIAR LA REDONDITA DE LA UNORDERED LIST - NONE, SQUARE */
	color: red; /* CAMBIAR COLOR DE LA REDONDITA DE LA UL */
	padding: 0;
}

nav ul li{
	flex-grow:1;
}

nav ul a{
	/*display:none --> que desaparezca el bloque ul a*/
	display:block;
	text-decoration: none;
	padding: 8px 0px 8px 0px;
	width:100%;
	text-align:center;
	
}

nav ul a:hover{
	background-color:white; /* AL PASAR EL CURSOR POR ENCIMA DE UNA UL A, EL BACKGROUND SE VUELVE BLANCO */
}

footer{
	/*background:radial-gradient(circle, #ffff00 0%, #c93386 100%); /* color inicial (centro) - color final (bandas)
	border-top:2px solid #000000;*/
	
	background:#000000;
	color:#ffffff;
	
	padding:32px 0 32px 0;
	text-align:center;
	
}

footer p{
	margin:0;
}

main{
	padding:0 32px 0 32px;
	border:3px solid #000000;
	
	margin:32px 8px 32px 8px;
	
	background-color:#ccc;
	
}

form input{
	margin:16px;
}

main ul li{
	font-size:20px;
	font-family:courier,serif;
}	

main h3{
	
	font-family:courier,serif;
}

main p{
	
	font-family:courier,serif;
}